<div class="media stream-item view-compact">
    {{ if .Params.image }}
      <div class="podcast-thumbnail">
        <img src="{{ .Params.image }}" alt="{{ .Title }}">
      </div>
    {{ end }}
    <div class="media-body">
      <div class="section-subheading article-title mb-0 mt-0">
        <a href="{{ .RelPermalink }}" target="_blank">{{ .Title }}</a>
      </div>
      <div class="stream-meta article-metadata">
        <div>
          <span>{{ .Date.Format "January 2, 2006" }}</span>
        </div>
      </div>
       <!-- Table of Contents -->
      
      {{ with .Params.description }}
      <div class="article-style">
        {{ . | markdownify }}
      </div>
      {{ end }}
    </div>
  </div>