{{- define "main" -}}

<div class="universal-wrapper pt-3">
  <div class="row">
    <!-- Left column: Title and description -->
    <div class="col-12 col-lg-4 section-heading">
      <h1>{{ .Title }}</h1>
      {{ with .Params.subtitle }}
      <p class="subtitle">{{ . }}</p>
      {{ end }}
    </div>

    <!-- Right column: Podcast list -->
    <div class="col-12 col-lg-8">
      {{ range .Pages.ByDate.Reverse }}
        {{ partial "views/compact/podcasts" . }}
      {{ end }}
    </div>
  </div>
</div>

{{- end -}}